{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- overlay tyo cover background image -->
    <div class="overlay"></div>
    <div class="container mb-2">

        <!-- shopping bag heading -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <!-- shopping bag contents -->
        <div class="row">
            <div class="col">
            <!-- check is anything in the bag -->
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <!-- The table to display the shopping bag items -->
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <!-- Table headers, 2nd one is blank as the name will span 2 columns -->
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            <!-- create a row for each product -->
                            {% for item in bag_items %}
                                <tr>
                                    <!-- product image -->
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <!-- name size and sku -->
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <!-- price -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <!-- quantity -->
                                    <!-- form to handle the adjusting of a products quantity in the shopping bag -->
                                    <td class="py-3 w-25">
                                        <!-- This form will be submitted by the javascript in the foot of the page -->
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <!-- The update bag links - Javascript required in foot of page below-->
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                                    <!-- subtotal  -->
                                    <td class="py-3">
                                    <!-- use our custom filter from bag_tools to insert the price as the first argument and the qty as the second -->
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <!-- this row will display total, delivery and free delivery threshold -->
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <!-- keep shopping button and secure checkout button -->
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </div>
                {% else %}
                    <!-- else - the bag is empty - give users a link back to products page -->
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">

// helper method get prev sibling (from vanillajs tools)
const getPreviousSibling = function (elem, selector) {
	// Get the next sibling element
	let sibling = elem.previousElementSibling;
	// If there's no selector, return the first sibling
	if (!selector) return sibling;
	// If the sibling matches our selector, use it
	// If not, jump to the next sibling and continue the loop
	while (sibling) {
		if (sibling.matches(selector)) return sibling;
		sibling = sibling.previousElementSibling;
	}
};

// handle clicking update
const update = document.querySelectorAll('.update-link');
update.forEach(butt => butt.addEventListener('click', event => {
    form = getPreviousSibling(butt, '.update-form');
    form.submit();
    console.log("happy");
}));

/* Handle Remove an item */
// grab the remove item button
const remove = document.querySelectorAll('.remove-item');
// loop over the possible buttons - as there can be multiple
remove.forEach(item => item.addEventListener('click', event => {
    // because they are a button in a form - prevent submit
    event.preventDefault();

    // some req variables
    const csrfToken = "{{ csrf_token }}";
    const itemID = item.getAttribute('id').split('remove_')[1];
    const size = item.dataset.product_size;

    fetch(`/bag/remove/${itemID}/`, {
        method: "POST",
        body: `csrfmiddlewaretoken=${csrfToken}&product_size=${size}`,
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            "X-CSRFToken": csrfToken,
        }
    }).then(res => {
        console.log("request complete", res);
        if  (res.status === 200) {
            // remove the item from the html instead of refreshing the page
            location.reload();
        }
    });
}));

</script>

{% endblock %}