<script type="text/javascript">

    // function to handle disabling buttons below 2 and over 98
    function handleEnableDisable(itemId) {
        const ourQuantity = document.querySelector(`#id_qty_${itemId}`);
        const currentValue = parseInt(ourQuantity.value);
        const plus = document.querySelector(`#increment-qty_${itemId}`);
        const minus = document.querySelector(`#decrement-qty_${itemId}`);
        if (currentValue < 2) {
            minus.disabled = true;
        }
        else if (currentValue > 98) {
            plus.disabled = true;
        }
        else {
            minus.disabled = false;
            plus.disabled = false;
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    const allQtyTypes = document.querySelectorAll('.qty_input');
    for(let i = 0; i < allQtyTypes.length; i++) {
        let itemId = allQtyTypes[i].getAttribute('data-item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable each time a value changes
    for(let i = 0; i < allQtyTypes.length; i++) {
        allQtyTypes[i].addEventListener('change', function() {
            let itemId = allQtyTypes[i].getAttribute('data-item_id');
            handleEnableDisable(itemId);
        });
    }

    // Increment Quantity
    const increment = document.querySelectorAll('.increment-qty');
    for (i = 0; i < increment.length; i++) {
        increment[i].addEventListener("click", function(e){
            e.preventDefault();
            // After click - find the closest input box
            // closest searches up the dom
            // Then we use the closestGroup to search within that block for an element with the class 'qty_input'
            // Then we grab its value add one to it and reassign it to the quantity input element
            const closestGroup = this.closest('.input-group');
            let closestInput = closestGroup.querySelector('.qty_input');
            const newValue = parseInt(closestInput.value) + 1;
            closestInput.value = newValue;

            // call the disable button check
            let itemId = this.getAttribute('data-item_id');
            handleEnableDisable(itemId);
        });
    }
    
    // Decrement Quantity
    const decrement = document.querySelectorAll('.decrement-qty');
    for (i = 0; i < decrement.length; i++) {
        decrement[i].addEventListener("click", function(e){
            e.preventDefault();
            const closestGroup = this.closest('.input-group');
            let closestInput = closestGroup.querySelector('.qty_input');
            const newValue = parseInt(closestInput.value) - 1;
            closestInput.value = newValue;

            // call the disable button check
            let itemId = this.getAttribute('data-item_id');
            handleEnableDisable(itemId);
        });
    }
    

</script>