{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Add a white overlay to cover up the image background -->
    <div class="overlay"></div>
    <div class="container-fluid">
        <!-- 2 rows -->
        <!-- row for page title and any selected categories -->
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <!-- To display the current categories -->
                <!-- uses bootstrap apart from - category-badge and text black - create these in css -->
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <!-- row for the products -->
        <div class="row">
            <div class="product-container col-10 offset-1">

                <!-- Insert a sorting option box in top right of screen
                Req's some js to work -->
                <div class="row mt-1 mb-2">
                    <!-- order-md-last ensures it will be the last column on md and lg screens - but because its ahead of products in the html it will be first in smaller screens -->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">

                            <!-- Selection box - get the current selection from the value returned from product,views.all_products - if no sorting the value will be None_None -->
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <!-- order-md-first ensures it will be the first column md and larger screens, and will always be ahead of products as it is above them in html -->
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <!-- Iterate over products -->
                    {% for product in products %}
                        <!-- create a new col with a bootstrap card -->
                        <!-- products will stack on mobile / side-by-side on small and medium / 3 cols on large and 4 cols on xl -->
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">

                                <!-- top of card - image  -->
                                {% if product.image %}
                                <!-- link image to product details and include the id -->
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}

                                <!-- card body - product name -->
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>

                                <!-- card footer - price and rating and category -->
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <!-- price -->
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            <!-- category -->
                                            <!-- Check for category, then display as a clickable link -->
                                            {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            <!-- add the edit and delete buttons -->
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- This is to insert a hr after each row -->
                        <!-- Because the rows can change this code divides the iteration counter -->
                        <!-- This tells us how many cards or columns have been placed on each row -->
                        
                        <!-- Not really needed as everything is divisable by 1 -->
                        <!-- So in this case hr will display on XS screens -->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}        

                        <!-- if divisable by 2, then there are 2 columns -->  
                        <!-- so in this case - wont show on XS, will show on SMALL & MED But wont show on LARGE -->              
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}

                        <!-- If divisable by 3, then there are 3 columns -->
                        <!-- So in this case it will only show on LARGE screens -->
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}

                        <!-- if divisable by 4, then there are 4 columns -->
                        <!-- Then only show on XL screens -->
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Back to top button -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <!-- block.super ensures that this code is appended to, rather than replace any existing js code  -->
    <script type="text/javascript">

    /* Back to top button functionality */
    document.querySelector('.btt-link').addEventListener('click', function (ev) {
        window.scrollTo(0,0);
    });
    
    /* Sort selector functionality */
    document.querySelector('#sort-selector').addEventListener('change', function (ev) {
        var currentUrl = new URL(window.location);

        console.log(ev.target.value);
        var selectedVal = ev.target.value;
        if(selectedVal != "reset"){
            /* we can get the req sort by splitting the value and taking the first index */
            var sort = selectedVal.split('_')[0];
            /* Second index will be the direction */
            var direction = selectedVal.split('_')[1];

            /* now we have the required sort and direction we can set them in the url */
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction)

            /* Replace the url */
            window.location.replace(currentUrl);
        }
        /* else if the user selects reset 
        Then delete the parameters and replace the location*/
        else{
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction")

            window.location.replace(currentUrl);
        }
    });
    </script>
{% endblock %}